div#root{
  min-height: 100vh;
  background-image: url('../images/ehr-1476525_1280.png');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.App{
  min-height: 100vh;
  background-color: rgba(170, 170, 170, 0.438);
}

div.wrapper{
  margin-bottom: 60px;
}