.verbWrapper h2{
    margin-top: 20px;
    text-align: center;
}

.verbForm{
    margin-top: 20px;
    text-align: center;
}
.verbForm label{
    margin-bottom: 10px;
    font-size: 24px;
}

.verbForm input{
    border: 2px solid black;
    padding: 10px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.712);
}

.verbForm input:focus{
    border: 2px solid black;
    padding: 10px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.712);
}

.verbForm button{
    height: 40px;
    cursor: pointer;
    background-color: #000;
    border: 2px solid black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: whitesmoke;
    transition: .2s;
    padding: 10px;
}

.verbForm button:hover{
    border: 2px solid whitesmoke;
}