ul{
    text-align: center;
    color: whitesmoke;
}

li{
    background-color: rgba(77, 76, 76, 0.356);
    padding: 3px;
    margin-top:2px ;
}


.categoryItem button{
    margin-left: 20px;
    width: 60px;
}
.categoryItem button:hover{
    background-color: rgb(175, 175, 175);
}